services:
  flight-controller-lite:
    image: n1ckaleks/damn-vulnerable-drone-flight-controller-lite:latest
    container_name: flight-controller-lite
    privileged: true
    build:
      context: .
      dockerfile: ./flight-controller/lite/Dockerfile
    volumes:
      - serial-uart-socket:/sockets
    environment:
      - LITE=true
    networks:
      simulator:
        ipv4_address: 10.13.0.2

  companion-computer-lite:
    image: n1ckaleks/damn-vulnerable-drone-companion-computer-lite:latest
    container_name: companion-computer-lite
    privileged: true
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "3000:3000"
    build:
      context: .
      dockerfile: ./companion-computer/lite/Dockerfile
    depends_on:
      - flight-controller-lite
    volumes:
      - serial-uart-socket:/sockets
    environment:
      - LITE=true
      - WIFI_ENABLED
    networks:
      simulator:
        ipv4_address: 10.13.0.3

  ground-control-station-lite:
    image: n1ckaleks/damn-vulnerable-drone-ground-control-station-lite:latest
    container_name: ground-control-station-lite
    privileged: true
    environment:
      - LITE=true
      - WIFI_MODE
      - DISPLAY=${DISPLAY}
      - QT_NO_MITSHM=1
      - XDG_RUNTIME_DIR=/tmp
      - XAUTHORITY=/home/gcs/.Xauthority
      - HEADLESS=0
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ${HOME}/.Xauthority:/home/gcs/.Xauthority:ro
      - /etc/machine-id:/etc/machine-id:ro
    devices:
      - /dev/dri:/dev/dri
    build:
      context: .
      dockerfile: ./ground-control-station/lite/Dockerfile
    depends_on:
      - companion-computer-lite
    networks:
      simulator:
        ipv4_address: 10.13.0.4
    ports:
      - "14550:14550/udp" # QGroundControl

  simulator-lite:
    container_name: simulator-lite
    build:
      context: .
      dockerfile: ./simulator/lite/Dockerfile
    image: n1ckaleks/damn-vulnerable-drone-simulator-lite:latest
    privileged: true
    environment:
      - LITE=true
    volumes:
      - ./simulator/mgmt:/app/simulator/mgmt
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8000:8000"
    networks:
      simulator:
        ipv4_address: 10.13.0.5

volumes:
  serial-uart-socket:
  ardupilot:

networks:
  simulator:
    name: simulator
    internal: false
    driver: bridge
    ipam:
      config:
        - subnet: "10.13.0.0/24"
